---
import contacts from '@/data/contacts.json';
---

<section aria-labelledby="contacts-heading">
  <h2 id="contacts-heading">Contacts</h2>

  <ul>
    {
      contacts.map((contact) => {
        if (contact.url === '') {
          return (
            <li>
              <span>{contact.label}</span>
              <span>{contact.value}</span>
            </li>
          );
        }

        return (
          <li>
            <span aria-hidden="true">{contact.label}</span>
            <a href={contact.url} target="_blank" rel="noopener noreferrer">
              <span aria-hidden="true">{contact.value}</span>
              <span class="visually-hidden">{contact.ariaLabel}</span>
            </a>
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  a {
    word-break: break-all;
  }
</style>
