---
import education from '@/data/education.json';
import { formatDate } from '@/scripts/utils';
---

<section aria-labelledby="education-heading">
  <h2 id="education-heading">Education</h2>
  <ul>
    {
      education.map((el) => (
        <li>
          <article>
            <h3>
              {el.academy},
              <br />
              {el.course}
            </h3>
            <p>
              <time datetime={el.startDate}>{formatDate(el.startDate)}</time>
              <span> - </span>
              {el.stillStudyingHere ? (
                <span>present</span>
              ) : (
                <time datetime={el.endDate}>{formatDate(el.endDate)}</time>
              )}
            </p>
          </article>
        </li>
      ))
    }
  </ul>
</section>
