---
import experience from '@/data/experience.json';
import { formatDate } from '@/scripts/utils';
---

<section aria-labelledby="experience-heading">
  <h2 id="experience-heading">Experience</h2>
  <ul>
    {
      experience.map((el) => (
        <li>
          <article>
            <h3>
              {el.company},
              <br />
              {el.position}
            </h3>
            <p>
              <time datetime={el.startDate}>{formatDate(el.startDate)}</time>
              <span> - </span>
              {el.stillWorkingHere ? (
                <span>present</span>
              ) : (
                <time datetime={el.endDate}>{formatDate(el.endDate)}</time>
              )}
            </p>
            <p>{el.description}</p>
            <p>Tech stack: {el.techStack.join(', ')}.</p>
          </article>
        </li>
      ))
    }
  </ul>
</section>
